*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    width: 100vw;
    height:100vh;
   
}

.HeadDiv{
    background-color: #0a0a23;
    height: 15%;
    width: 100%;
    color: aliceblue;
    text-align: center;
    padding: 35px 0px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom:3px solid #f8af46;
}

.bodyDiv{
    background-color: rgb(240, 240, 240);
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
}

.bodyMainDiv{
    margin: 10px;
    height: 100%;
 
    padding: 0;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.bodyMainDiv div{
 
    height: 250px;
    width: 265px;
   
    border-radius: 10px;
}

div img{
    /* height: 250px; */
    /* width: 265px; */
    height: 100%;
    width: 100%;
    border-radius: 10px;
}