*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
}
.bodydiv1{
    height: 80%;
    width: 100%;
    
}
.bodydiv2{
    height: 20%;
    width: 100%;
    border: 2px solid red;
}
